* {
    background: #000000;
    background-alt: #11111111;
    foreground: #FFFFFF;
    accent-gold: #D4aF37;
    transparent: #00000000;
}

configuration {
    modi:                       "drun,run";
    show-icons:                 true;
    display-drun:               "🔍";
    display-run:                "🚀";
    drun-display-format:        "{name}";
    font:                       "JetBrainsMono Nerd Font 11";
}

window {
    transparency: "real";
    location: center;
    anchor: center;
    width: 600px;
    border: 1.7px solid;
    border-color: @accent-gold;
    background-color: @background;
    border-radius: 15px;
}

mainbox {
    spacing: 10px;
    padding: 5px;
    background-color: @transparent;
    children: ["inputbar", "listview"];
}

inputbar {
    children: ["prompt", "entry"];
}

prompt {
    text-color: @accent-gold;
}

entry {
    placeholder: "Search...";
    placeholder-color: #999999;
}

listview {
    columns: 1;
    lines: 10;
    scrollbar: false;
}

element normal.normal {
    background-color:            @transparent;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @background-alt;
    text-color:                  @accent-gold;
    border:                      0px 0px 0px 3px solid; 
    border-color:                @accent-gold;
}

element alternate.normal {
    background-color:            @transparent;
    text-color:                  @foreground;
}